:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: darkseagreen;
  animation: colorChange 1.5s ease-out 1.5s forwards;

  @keyframes colorChange {
    100% {
      background-color: lightskyblue;
    }
  }

  div {
    display: flex;
    justify-content: center;

    span {
      display: inline-block;
      font-weight: bold;
      font-size: 2rem;
      white-space: nowrap;
      overflow: hidden;
      opacity: 1;

      &:not(:first-child):not(:last-child) {
        animation: frameHidden 1s ease-out 1.5s forwards;

        @keyframes frameHidden {
          100% {
            width: 0;
          }
        }
      }

      &:last-child {
        animation: frameSpaceInit 0.5s ease 1s forwards,
        frameSpaceEnd 1.5s ease-out 2s forwards;

        @keyframes frameSpaceInit {
          100% {
            padding-left: 10px;
          }
        }

        @keyframes frameSpaceEnd {
          100% {
            padding-left: 0;
          }
        }
      }
    }
  }
}
