$gap: 16px;

:host {
  display: inline-flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .list {
    display: inline-flex;
    gap: $gap;
    transform-style: preserve-3d;
    transform: perspective(1000px);

    .item {
      transition: .5s;
      filter: brightness(0.5);

      img {
        object-fit: cover;
        width: 200px;
        height: 300px;;
      }

      &:hover {
        filter: brightness(1);
        transform: translateZ(200px);

        & + * {
          filter: brightness(0.6);
          transform: translateZ(150px) rotateY(40deg);
        }

        & + * + * {
          filter: brightness(0.4);
          transform: translateZ(70px) rotateY(20deg);
        }

        & + * + * + * {
          filter: brightness(0.2);
          transform: translateZ(30px) rotateY(10deg);
        }
      }

      &:has( + *:hover) {
        filter: brightness(0.6);
        transform: translateZ(150px) rotateY(-40deg);
      }

      &:has( + * + *:hover) {
        filter: brightness(0.4);
        transform: translateZ(70px) rotateY(-20deg);
      }

      &:has( + * + * + *:hover) {
        filter: brightness(0.2);
        transform: translateZ(30px) rotateY(-10deg);
      }


    }
  }
}
